NODE_ENV=development
PORT=3000
DATABASE=
DATABASE_PASSWORD=

JWT_COOKIE_EXPIRES_IN=90
JWT_EXPIRES_IN=90d
JWT_SECRET=ultra-secure-and-ultra-long-secret

EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_HOST=smtp.mailtrap.io
EMAIL_PORT=

EMAIL_FROM=

SENDGRID_PASSWORD=
SENDGRID_USERNAME=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
